{{ 'demo-home-offer-and-signup.css' | asset_url | stylesheet_tag }}

<section id="home-offer-and-signup-area">
  <div class="container">
    <div id="home-offer-and-signup">
      <h2>Sign up for 15% off your first order</h2>
      <a href="#" class="btn">Sign Up Now</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Demo Home Offer And Signup",
  "presets": [
    {
      "name": "Demo Home Offer And Signup"
    }
  ],
  "settings": []
}
{% endschema %}
