{{ 'footer.css' | asset_url | stylesheet_tag }}

<!-- footer area start -->
<!-- <rich-apparel-footer></rich-apparel-footer> -->

<!-- social icon and form area -->
<div class="container">
  <section id="footer-social-signup-form">
    <div id="social-button-area">
      <div class="social-icon">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M17.28 0H0.72C0.32175 0 0 0.32175 0 0.72V17.28C0 17.6783 0.32175 18 0.72 18H17.28C17.6783 18 18 17.6783 18 17.28V0.72C18 0.32175 17.6783 0 17.28 0ZM15.201 5.25375H13.7633C12.636 5.25375 12.4178 5.78925 12.4178 6.57675V8.3115H15.1088L14.7578 11.0273H12.4178V18H9.612V11.0295H7.26525V8.3115H9.612V6.309C9.612 3.98475 11.0318 2.718 13.1063 2.718C14.1008 2.718 14.9535 2.79225 15.2033 2.826V5.25375H15.201Z" fill="black" />
        </svg>
      </div>
      <div class="social-icon">
        <svg
          width="23"
          height="18"
          viewBox="0 0 23 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M22.1678 2.13818C21.3526 2.48965 20.4654 2.74261 19.5517 2.84113C20.5004 2.2778 21.2108 1.38782 21.5497 0.338176C20.6595 0.867496 19.6842 1.23866 18.6672 1.43522C18.2421 0.981027 17.728 0.6192 17.1569 0.372279C16.5858 0.125359 15.97 -0.00136274 15.3477 1.10514e-05C12.8302 1.10514e-05 10.8055 2.03965 10.8055 4.54261C10.8055 4.89409 10.8481 5.24557 10.9174 5.58374C7.14772 5.38669 3.78565 3.58669 1.55049 0.83078C1.14322 1.52606 0.929799 2.31771 0.932427 3.12338C0.932427 4.69971 1.73431 6.08965 2.95713 6.90711C2.2365 6.87874 1.53276 6.68077 0.903122 6.3293V6.38521C0.903122 8.59261 2.46427 10.4219 4.54492 10.8426C4.15425 10.944 3.75237 10.9959 3.34875 10.997C3.05303 10.997 2.7733 10.9678 2.49091 10.9278C3.06635 12.7278 4.74206 14.0352 6.73745 14.0778C5.1763 15.3 3.22087 16.0189 1.0976 16.0189C0.716637 16.0189 0.364979 16.0056 0 15.963C2.01404 17.2544 4.40372 18 6.97722 18C15.3318 18 19.9033 11.0823 19.9033 5.07782C19.9033 4.88078 19.9033 4.68374 19.89 4.48669C20.7745 3.83965 21.5497 3.03817 22.1678 2.13818Z" fill="black" />
        </svg>
      </div>
      <div class="social-icon">
        <svg
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M17.95 5.324C17.9399 4.56662 17.7981 3.81678 17.531 3.108C17.2993 2.51015 16.9455 1.9672 16.4922 1.51383C16.0388 1.06046 15.4958 0.706651 14.898 0.475C14.1983 0.212357 13.4592 0.0703413 12.712 0.0550001C11.75 0.0120001 11.445 0 9.003 0C6.561 0 6.248 6.70552e-08 5.293 0.0550001C4.54616 0.0704541 3.80735 0.212468 3.108 0.475C2.51006 0.706489 1.96702 1.06024 1.51363 1.51363C1.06024 1.96702 0.706489 2.51006 0.475 3.108C0.211831 3.80713 0.0701232 4.54611 0.056 5.293C0.013 6.256 0 6.561 0 9.003C0 11.445 -7.45058e-09 11.757 0.056 12.713C0.071 13.461 0.212 14.199 0.475 14.9C0.706878 15.4978 1.0609 16.0406 1.51444 16.4938C1.96798 16.947 2.51106 17.3006 3.109 17.532C3.80643 17.8052 4.54537 17.9574 5.294 17.982C6.257 18.025 6.562 18.038 9.004 18.038C11.446 18.038 11.759 18.038 12.714 17.982C13.4612 17.9673 14.2004 17.8256 14.9 17.563C15.4977 17.3311 16.0405 16.9772 16.4938 16.5238C16.9472 16.0705 17.3011 15.5277 17.533 14.93C17.796 14.23 17.937 13.492 17.952 12.743C17.995 11.781 18.008 11.476 18.008 9.033C18.006 6.591 18.006 6.281 17.95 5.324ZM8.997 13.621C6.443 13.621 4.374 11.552 4.374 8.998C4.374 6.444 6.443 4.375 8.997 4.375C10.2231 4.375 11.399 4.86207 12.266 5.72905C13.1329 6.59603 13.62 7.7719 13.62 8.998C13.62 10.2241 13.1329 11.4 12.266 12.267C11.399 13.1339 10.2231 13.621 8.997 13.621ZM13.804 5.282C13.6624 5.28213 13.5222 5.25434 13.3913 5.20021C13.2605 5.14608 13.1416 5.06668 13.0414 4.96655C12.9413 4.86643 12.8619 4.74754 12.8078 4.61669C12.7537 4.48584 12.7259 4.3456 12.726 4.204C12.726 4.0625 12.7539 3.92239 12.808 3.79166C12.8622 3.66093 12.9415 3.54215 13.0416 3.44209C13.1416 3.34204 13.2604 3.26267 13.3912 3.20852C13.5219 3.15437 13.662 3.1265 13.8035 3.1265C13.945 3.1265 14.0851 3.15437 14.2158 3.20852C14.3466 3.26267 14.4654 3.34204 14.5654 3.44209C14.6655 3.54215 14.7448 3.66093 14.799 3.79166C14.8531 3.92239 14.881 4.0625 14.881 4.204C14.881 4.8 14.399 5.282 13.804 5.282Z" fill="black" />
          <path d="M8.99714 12.0011C10.6557 12.0011 12.0001 10.6566 12.0001 8.99812C12.0001 7.33961 10.6557 5.99512 8.99714 5.99512C7.33863 5.99512 5.99414 7.33961 5.99414 8.99812C5.99414 10.6566 7.33863 12.0011 8.99714 12.0011Z" fill="black" />
        </svg>
      </div>
    </div>
    <div class="signup-form-area">
      <h4>Sign up and get 15% off</h4>
      <form>
        <input
          class="footer-signup-form"
          type="text"
          placeholder="Email"
        >
        <button class="btn btn-sm">SUBMIT</button>
      </form>
    </div>
  </section>

  <!-- footer link area -->
  <section class="footer-link-area container">
    <div class="footer-link-col-1">
      <h5>Customer Services</h5>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Delivery & Returns</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy & Cookie Policy</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Klarna</a></li>
      </ul>
    </div>
    <div class="footer-link-col-2">
      <h5>Contact Us</h5>
      <ul>
        <li>
          <h6>Customer Service</h6>
        </li>
        <li>
          <p>+44 (0) 207 0164312</p>
        </li>
        <li>
          <p>Email Us</p>
        </li>
        <li>
          <h6>Wholesale Enquiries</h6>
        </li>
        <li>
          <p>+44 (0) 207 0164312</p>
        </li>
      </ul>
    </div>
    <div class="footer-link-col-3">
      <h5>Information</h5>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">What is Cashmere?</a></li>
        <li><a href="#">Our Supply Chain</a></li>
        <li><a href="#">Brand Values</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="#">Sweater Fit Guide</a></li>
        <li><a href="#">Cashmere Care Guide</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
  </section>

  <!-- footer copyright -->
  <section class="footer-copyright-area">
    <p>Copyright 2022 ©<span class="text-bold"> RichApparel</span></p>
  </section>
  <!-- footer area end -->
</div>

{% schema %}
{
  "name": "Demo Home Offer Signup",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "btnText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bgImg",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
